################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/pinky.ext/FileContentIndex
/.vs/pinky.ext/v17/.suo
/.vs
/_metadata/generated_indexed_rulesets
